<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Display</title>
    <style>
        body {
            display: flex;
            flex-wrap: wrap;
        }
        .color-box {
            width: 100px;
            height: 100px;
            margin: 5px;
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <div class="color-box" style="background-color: {{background}};"></div>
    <div class="color-box" style="background-color: {{foreground}};"></div>
    <div class="color-box" style="background-color: {{color0}};"></div>
    <div class="color-box" style="background-color: {{color1}};"></div>
    <div class="color-box" style="background-color: {{color2}};"></div>
    <div class="color-box" style="background-color: {{color3}};"></div>
    <div class="color-box" style="background-color: {{color4}};"></div>
    <div class="color-box" style="background-color: {{color5}};"></div>
    <div class="color-box" style="background-color: {{color6}};"></div>
    <div class="color-box" style="background-color: {{color7}};"></div>
    <div class="color-box" style="background-color: {{color8}};"></div>
    <div class="color-box" style="background-color: {{color9}};"></div>
    <div class="color-box" style="background-color: {{color10}};"></div>
    <div class="color-box" style="background-color: {{color11}};"></div>
    <div class="color-box" style="background-color: {{color12}};"></div>
    <div class="color-box" style="background-color: {{color13}};"></div>
    <div class="color-box" style="background-color: {{color14}};"></div>
    <div class="color-box" style="background-color: {{color15}};"></div>
</body>
</html>
